//fonts
$cocogoose: "COCOGOOSE", sans-serif;
$lato: "Lato", sans-serif;

//colors
$orange-color: #ec5242;
$dark-color: #272a31;
$gray-color: #d3d3d3;
$light-gray-color: #F7F7F7;
$gray-text-color: #595959;
$banner-color: #3E3E3E;
$mobile-navmenu-color: rgba(254, 67, 40,0.8);
$mobile-navbar-bg-color: #FAFAFA;
$header-span-color: #EC5328;