//fonts
$cocogoose: 'COCOGOOSE', sans-serif;
$lato: 'Lato', sans-serif;

//colors
$orange-color: #ec5242;
$dark-color: #272a31;
$gray-color: #d3d3d3;
$light-gray-color: #f7f7f7;
$gray-text-color: #595959;
$banner-color: #3e3e3e;
$mobile-navmenu-color: rgba(254, 67, 40, 0.9);
$mobile-navbar-bg-color: #fafafa;
$header-span-color: #ec5328;
$activity-text-color: #d7d9dc;
$soft-white-color: #fbfefb;
